*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: #585151;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* font-size: 5rem; */
}